select#color.custom-select
    option(data-tab='All' value='0' data-name='(Not Applicable)' data-rgb='transparent', style='"background-color": transparent') &nbsp;
        |  &nbsp;(Not Applicable)
    option(data-tab='All' value='11' selected='', data-name='Black' data-rgb='#212121', style='"background-color": #212121,"color":"#FFF !important"') &nbsp;
        |  &nbsp;Black
    option(data-tab='All' value='7' data-name='Blue' data-rgb='#0057A6', style='"background-color": #0057A6,"color":"#FFF !important"') &nbsp;
        | &nbsp;Blue
    option(data-tab='All' value='36' data-name='Bright Green' data-rgb='#10CB31', style='"background-color": #,"color":"#000 !important"') &nbsp;
        | &nbsp;Bright Green
    option(data-tab='All' value='105' data-name='Bright Light Blue' data-rgb='#9FC3E9', style='"background-color": #9FC3E9,"color":"#000 !important"') &nbsp;
        | &nbsp;Bright Light Blue
    option(data-tab='All' value='110' data-name='Bright Light Orange' data-rgb='#F7BA30', style='"background-color": #F7BA30,"color":"#000 !important"') &nbsp;
        | &nbsp;Bright Light Orange
    option(data-tab='All' value='103' data-name='Bright Light Yellow' data-rgb='#F3E055' style='"background-color": #F3E055,"color":"#000 !important"') &nbsp;
        | &nbsp;Bright Light Yellow
    option(data-tab='All' value='104' data-name='Bright Pink' data-rgb='#FFBBFF',style='"background-color": #FFBBFF,"color":"#000 !important"') &nbsp;
        | &nbsp;Bright Pink
    option(data-tab='All' value='8' data-name='Brown' data-rgb='#532115', style='"background-color": #532115,"color":"#FFF !important"') &nbsp;
        | &nbsp;Brown
    option(data-tab='All' value='153' data-name='Dark Azure' data-rgb='#3399FF', style='"background-color": #3399FF,"color":"#FFF !important"') &nbsp;
        | &nbsp;Dark Azure
    option(data-tab='All' value='63' data-name='Dark Blue' data-rgb='#143044', style='"background-color": #143044,"color":"#FFF !important"') &nbsp;
        | &nbsp;Dark Blue
    option(data-tab='All' value='85' data-name='Dark Bluish Gray' data-rgb='#595D60', style='"background-color": #595D60,"color":"#FFF !important"') &nbsp;
        | &nbsp;Dark Bluish Gray
    option(data-tab='All' value='10' data-name='Dark Gray' data-rgb='#6B5A5A', style='"background-color": #6B5A5A,"color":"#FFF !important"') &nbsp;
        | &nbsp;Dark Gray
    option(data-tab='All' value='80' data-name='Dark Green' data-rgb='#2E5543', style='"background-color": #2E5543,"color":"#FFF !important"') &nbsp;
        | &nbsp;Dark Green
    option(data-tab='All' value='68' data-name='Dark Orange' data-rgb='#B35408', style='"background-color": #B35408,"color":"#FFF !important"') &nbsp;
        | &nbsp;Dark Orange
    option(data-tab='All' value='47' data-name='Dark Pink' data-rgb='#C87080', style='"background-color": #C87080,"color":"#FFF !important"') &nbsp;
        | &nbsp;Dark Pink
    option(data-tab='All' value='89' data-name='Dark Purple' data-rgb='#5F2683', style='"background-color": #5F2683,"color":"#FFF !important"') &nbsp;
        | &nbsp;Dark Purple
    option(data-tab='All' value='59' data-name='Dark Red' data-rgb='#6A0E15', style='"background-color": #6A0E15,"color":"#FFF !important"') &nbsp;
        | &nbsp;Dark Red
    option(data-tab='All' value='69' data-name='Dark Tan' data-rgb='#907450' , style='"background-color": #907450,"color":"#FFF !important"') &nbsp;
        | &nbsp;Dark Tan
    option(data-tab='All' value='39' data-name='Dark Turquoise' data-rgb='#008A80' , style='"background-color": #008A80,"color":"#FFF !important"') &nbsp;
        | &nbsp;Dark Turquoise
    option(data-tab='All' value='6' data-name='Green' data-rgb='#00642E', style='"background-color": #00642E,"color":"#FFF !important"') &nbsp;
        | &nbsp;Green
    option(data-tab='All' value='154' data-name='Lavender' data-rgb='#B18CBF', style='"background-color": #B18CBF,"color":"#FFF !important"') &nbsp;
        | &nbsp;Lavender
    option(data-tab='All' value='152' data-name='Light Aqua' data-rgb='#CCFFFF', style='"background-color": #CCFFFF,"color":"#000 !important"') &nbsp;
        | &nbsp;Light Aqua
    option(data-tab='All' value='62' data-name='Light Blue' data-rgb='#B4D2E3' , style='"background-color": #B4D2E3,"color":"#000 !important"') &nbsp;
        | &nbsp;Light Blue
    option(data-tab='All' value='86' data-name='Light Bluish Gray' data-rgb='#AFB5C7' , style='"background-color": #AFB5C7,"color":"#000 !important"') &nbsp;
        | &nbsp;Light Bluish Gray
    option(data-tab='All' value='9' data-name='Light Gray' data-rgb='#9C9C9C' , style='"background-color": #9C9C9C,"color":"#000 !important"') &nbsp;
        | &nbsp;Light Gray
    option(data-tab='All' value='35' data-name='Light Lime' data-rgb='#EBEE8F', style='"background-color": #EBEE8F,"color":"#000 !important"') &nbsp;
        | &nbsp;Light Lime
    option(data-tab='All' value='90' data-name='Light Nougat' data-rgb='#FECCB0', style='"background-color": #FECCB0,"color":"#000 !important"') &nbsp;
        | &nbsp;Light Nougat
    option(data-tab='All' value='56' data-name='Light Pink' data-rgb='#FFE1FF', style='"background-color": #FFE1FF,"color":"#000 !important"') &nbsp;
        | &nbsp;Light Pink
    option(data-tab='All' value='93' data-name='Light Purple' data-rgb='#DA70D6', style='"background-color": #DA70D6,"color":"#000 !important"') &nbsp;
        | &nbsp;Light Purple
    option(data-tab='All' value='33' data-name='Light Yellow' data-rgb='#FFE383', style='"background-color": #FFE383,"color":"#000 !important"') &nbsp;
        | &nbsp;Light Yellow
    option(data-tab='All' value='34' data-name='Lime' data-rgb='#A6CA55', style='"background-color": #A6CA55,"color":"#000 !important"') &nbsp;
        | &nbsp;Lime
    option(data-tab='All' value='72' data-name='Maersk Blue' data-rgb='#6BADD6', style='"background-color": #6BADD6,"color":"#000 !important"') &nbsp;
        | &nbsp;Maersk Blue
    option(data-tab='All' value='71' data-name='Magenta' data-rgb='#B52952', style='"background-color": #B52952,"color":"#FFF !important"') &nbsp;
        | &nbsp;Magenta
    option(data-tab='All' value='156' data-name='Medium Azure' data-rgb='#42C0FB', style='"background-color": #42C0FB,"color":"#000 !important"') &nbsp;
        | &nbsp;Medium Azure
    option(data-tab='All' value='42' data-name='Medium Blue' data-rgb='#61AFFF', style='"background-color": #61AFFF,"color":"#000 !important"') &nbsp;
        | &nbsp;Medium Blue
    option(data-tab='All' value='157' data-name='Medium Lavender' data-rgb='#885E9E', style='"background-color": #885E9E,"color":"#FFF !important"') &nbsp;
        | &nbsp;Medium Lavender
    option(data-tab='All' value='76' data-name='Medium Lime' data-rgb='#BDC618' , style='"background-color": #BDC618,"color":"#000 !important"') &nbsp;
        | &nbsp;Medium Lime
    option(data-tab='All' value='150' data-name='Medium Nougat' data-rgb='#E3A05B', style='"background-color": #E3A05B,"color":"#000 !important"') &nbsp;
        | &nbsp;Medium Nougat
    option(data-tab='All' value='31' data-name='Medium Orange' data-rgb='#FFA531', style='"background-color": #FFA531,"color":"#000 !important"') &nbsp;
        | &nbsp;Medium Orange
    option(data-tab='All' value='73' data-name='Medium Violet' data-rgb='#9391E4', style='"background-color": #9391E4,"color":"#000 !important"') &nbsp;
        | &nbsp;Medium Violet
    option(data-tab='All' value='28' data-name='Nougat' data-rgb='#FFAF7D' , style='"background-color": #FFAF7D,"color":"#000 !important"') &nbsp;
        | &nbsp;Nougat
    option(data-tab='All' value='155' data-name='Olive Green' data-rgb='#7C9051', style='"background-color": #7C9051,"color":"#FFF !important"') &nbsp;
        | &nbsp;Olive Green
    option(data-tab='All' value='4' data-name='Orange' data-rgb='#FF7E14', style='"background-color": #FF7E14,"color":"#FFF !important"') &nbsp;
        | &nbsp;Orange
    option(data-tab='All' value='23' data-name='Pink' data-rgb='#FFC0CB', style='"background-color": #FFC0CB,"color":"#000 !important"') &nbsp;
        | &nbsp;Pink
    option(data-tab='All' value='24' data-name='Purple' data-rgb='#A5499C', style='"background-color": #A5499C,"color":"#FFF !important"') &nbsp;
        | &nbsp;Purple
    option(data-tab='All' value='5' data-name='Red' data-rgb='#B30006', style='"background-color": #B30006,"color":"#FFF !important"') &nbsp;
        | &nbsp;Red
    option(data-tab='All' value='88' data-name='Reddish Brown' data-rgb='#89351D', style='"background-color": #89351D,"color":"#FFF !important"') &nbsp;
        | &nbsp;Reddish Brown
    option(data-tab='All' value='55' data-name='Sand Blue' data-rgb='#5A7184' , style='"background-color": #5A7184,"color":"#FFF !important"') &nbsp;
        | &nbsp;Sand Blue
    option(data-tab='All' value='48' data-name='Sand Green' data-rgb='#76A290', style='"background-color": #76A290,"color":"#FFF !important"') &nbsp;
        | &nbsp;Sand Green
    option(data-tab='All' value='58' data-name='Sand Red' data-rgb='#8C6B6B', style='"background-color": #8C6B6B,"color":"#FFF !important"') &nbsp;
        | &nbsp;Sand Red
    option(data-tab='All' value='2' data-name='Tan' data-rgb='#DEC69C' , style='"background-color": #DEC69C,"color":"#000 !important"') &nbsp;
        | &nbsp;Tan
    option(data-tab='All' value='96' data-name='Very Light Orange' data-rgb='#E6C05D', style='"background-color": #E6C05D,"color":"#000 !important"') &nbsp;
        | &nbsp;Very Light Orange
    option(data-tab='All' value='1' data-name='White' data-rgb='#FFFFFF', style='"background-color": #FFFFFF,"color":"#000 !important"') &nbsp;
        | &nbsp;White
    option(data-tab='All' value='3' data-name='Yellow' data-rgb='#F7D117', style='"background-color": #F7D117,"color":"#000 !important"') &nbsp;
        | &nbsp;Yellow
    option(data-tab='All' value='158' data-name='Yellowish Green' data-rgb='#DFEEA5', style='"background-color": #DFEEA5,"color":"#000 !important"') &nbsp;
        | &nbsp;Yellowish Green
    option(data-tab='All' value='12' data-name='Trans-Clear' data-rgb='#EEEEEE' , style='"background-color": #EEEEEE,"color":"#000 !important"') &nbsp;
        | &nbsp;Trans-Clear
    option(data-tab='All' value='14' data-name='Trans-Dark Blue' data-rgb='#00296B', style='"background-color": #00296B,"color":"#FFF !important"') &nbsp;
        | &nbsp;Trans-Dark Blue
    option(data-tab='All' value='15' data-name='Trans-Light Blue' data-rgb='#68BCC5', style='"background-color": #68BCC5,"color":"#000 !important"') &nbsp;
        | &nbsp;Trans-Light Blue
    option(data-tab='All' value='164' data-name='Trans-Light Orange' data-rgb='#E99A3A' , style='"background-color": #E99A3A,"color":"#000 !important"') &nbsp;
        | &nbsp;Trans-Light Orange
    option(data-tab='All' value='16' data-name='Trans-Neon Green' data-rgb='#C0F500' , style='"background-color": #C0F500,"color":"#000 !important"') &nbsp;
        | &nbsp;Trans-Neon Green
    option(data-tab='All' value='18' data-name='Trans-Neon Orange' data-rgb='#FF4231', style='"background-color": #FF4231,"color":"#FFF !important"') &nbsp;
        | &nbsp;Trans-Neon Orange
    option(data-tab='All' value='98' data-name='Trans-Orange' data-rgb='#D04010' , style='"background-color": #D04010,"color":"#FFF !important"') &nbsp;
        | &nbsp;Trans-Orange
    option(data-tab='All' value='17' data-name='Trans-Red' data-rgb='#9C0010', style='"background-color": #9C0010,"color":"#FFF !important"') &nbsp;
        | &nbsp;Trans-Red
    option(data-tab='All' value='19' data-name='Trans-Yellow' data-rgb='#EBF72D', style='"background-color": #EBF72D,"color":"#000 !important"') &nbsp;
        | &nbsp;Trans-Yellow
    option(data-tab='All' value='21' data-name='Chrome Gold' data-rgb='#F1F2E1', style='"background-color": #F1F2E1,"color":"#000 !important"') &nbsp;
        | &nbsp;Chrome Gold
    option(data-tab='All' value='22' data-name='Chrome Silver' data-rgb='#DCDCDC', style='"background-color": #DCDCDC,"color":"#000 !important"') &nbsp;
        | &nbsp;Chrome Silver
    option(data-tab='All' value='66' data-name='Pearl Light Gray' data-rgb='#ACB7C0', style='"background-color": #ACB7C0,"color":"#000 !important"') &nbsp;
        | &nbsp;Pearl Light Gray
    option(data-tab='All' value='65' data-name='Metallic Gold' data-rgb='#B8860B', style='"background-color": #B8860B,"color":"#FFF !important"') &nbsp;
        | &nbsp;Metallic Gold
    option(data-tab='All' value='60' data-name='Milky White' data-rgb='#D4D3DD', style='"background-color": #D4D3DD,"color":"#000 !important"') &nbsp;
        | &nbsp;Milky White
