html
  include _head
  style.
    .box {
      float: left;
      overflow: hidden;
    }
    .box-inner {
      width: 400px;
      padding: 10px;
    }
    .jumbotron {
      height:100%;
    }
    #create{
      margin-left:50px;
    }
  body
    //test
    .container-fluid
      .jumbotron
        h1.display-4=titleJumbo
        ////////////////////////////////////////////
        p.lead
          | The information we need from you below, you can find to login
          a(href="https://www.bricklink.com/v2/api/register_consumer.page", target="_blank", rel="noopener noreferrer")  here
          | for Ip 81.164.134.131
        hr.my-4
        form.row(action="/register"  , method='post')
          #consumerSection.box
            .box-inner
              .form-group
                label(for='consumerKey') Consumer key
                input#consumerKey.form-control(name="consumerKey" type='text' aria-describedby='consumerKeyHelp' placeholder='Enter consumer key', value=(user)?user.CONSUMER_KEY:"", required='')
                small#consumerKeyHelp.form-text.text-muted The consumer key publicly identifies your API account
              .form-group
                label(for='consumerSecret') Consumer secret
                input#consumerSecret.form-control(name="consumerSecret", type='text' aria-describedby='consumerSecretHelp' placeholder='Enter consumer secret',value=(user)?user.CONSUMER_SECRET:"", required='')
                small#consumerSecretHelp.form-text.text-muted The consumer secret is your confidential API password
              a#next.btn.btn-success.btn-lg.text-white( role='button') next
          #tokenSection(style="display:none;")
            .box-inner
              .form-group
                label(for='tokenKey') Token Value
                input#tokenKey.form-control(name="tokenValue", type='text' aria-describedby='tokenKeyHelp' placeholder='Enter Token Value', value=(user)?user.TOKEN_VALUE:"", required='')
                small#tokenKeyHelp.form-text.text-muted The token key value for our ip address.
              .form-group
                label(for='tokenSecret') Token secret
                input#tokenSecret.form-control(name="tokenSecret", type='text' aria-describedby='consumerSecretHelp' placeholder='Enter consumer secret', value=(user )?user.TOKEN_SECRET:"", required='' )
                small#tokenSecretHelp.form-text.text-muted The token key secret for our ip address.
              a#back.btn.btn-success.btn-lg.text-white( role='button') back
              input#create.btn.btn-primary.btn-lg(type='submit' role='button', value=buttonTitle)
    script.
      $(document).ready(function(){
        $("#next").click(function(){
          $("#consumerSection").
          animate({
            width: "toggle"
          });
          $("#tokenSection").
          animate({
            width: "toggle"
          });
        });
        $("#back").click(function () {
          $("#consumerSection").
          animate({
            width: "toggle"
          });
          $("#tokenSection").
          animate({
            width: "toggle"
          });
        });
      });
      function animationToggleForward(id){
        $(id).animate({
          width: "toggle"
        });
        }
