a.dropdown-item span {
    float:right;
    margin-top: -5px;
}
a.dropdown-item span, a.dropdown-item i{
    font-size: 30px;
}
a.dropdown-item{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.dropdown-menu{
    width: 400px !important;
}
.data-status{
    text-align: center;
}
tr{
    text-align: center;
}
img{
    width: 200px;
}
.navbar-toggler-icon{~
width: 100px !important;
    height: 60px !important;
}
input[type='checkbox'] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(5); /* IE */
    -moz-transform: scale(5); /* FF */
    -webkit-transform: scale(5); /* Safari and Chrome */
    -o-transform: scale(5); /* Opera */
    padding: 25px;
}
.text-white a {
    text-decoration: none;
    color: #FFFFFF;
}
.bigger-text {
    margin-left: 76px;
    font-size: 23px;
}
.box {
    position: absolute;
    padding-left: 15px;
    padding-top: 51px;
    padding-right: 38px;
    margin-left: -35px;
    z-index: 0;
    margin-top: -34px;
}
.papa {
    border: 15px solid #10b30b;
}
.merijn{
    border: 15px solid red;
}
#edit_description_button {
    width: 100px !important;
    height: 100px !important;
}
.fas.fa-edit{
    font-size: 40px  ;

}

#edit_description_update {
    width: 245px;
    height: 48px;
    font-weight: 600;
    font-size: 20px;
}

td {
    font-size: 41px;
    font-weight: bold;
}
.modal-content{
    min-width: 200%;
    margin-left: -50%;
}